<% content_for :title, "Editing Post -> "+@settings.site_name.to_s %>

<%= render :partial=> 'layouts/top_menubar', :locals=> {:categories=> @categories, :current_page=> 'edit_post'} %>

<div class="span2">&nbsp;
</div>	

<div class="span8">
<h1>Editing blog</h1>

<%= render 'form' %>

</div>

<div class="span2">&nbsp;
</div>	

<%= render 'layouts/footer' %>