<% content_for :title, "New Post -> "+@settings.site_name.to_s %>

<%= render :partial=> 'layouts/top_menubar', :locals=> {:categories=> @categories, :current_page=> 'newpost'} %>

<div class="span2">
&nbsp;
</div>	
<div class="span8">
<h1>New Post</h1>

<%= render 'form' %>

</div>
<div class="span2">
&nbsp;
</div>	

<%= render 'layouts/footer' %>