<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Dave's Blog</a>
          <div class="nav-collapse">
            <ul class="nav">
            		<li <% if current_page == "home" %>class="active"<% end %>><a href="/">Home</a></li>
            	<% @categories.each do |category| %>
            		<li <% if current_page == category.name %>class="active"<% end %>><%= link_to category.name, :controller=> 'categories', :action=> 'show', :id=> category.to_param %></li>
            	<% end %>
            	<% if user_signed_in? %>
					<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
				<% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>